@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html
{
    height: 100%;
    margin: 0;
    padding: 0;
    outline: none;
}

body 
{
    background-color: #bfdbae;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    min-width: 800px;
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    outline: none;
    position: relative;
    overflow: auto;
}

input
{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
}

footer
{
    position: absolute; 
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: darkgreen;
    text-align: left;
}

a img:hover
{
    transform: scale(1.2);
}

.linksFooter
{
    position: relative;
    color: #c70000;
    background-color: #8fbc72;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.2s;
    border-radius: 12px;
}

.linksFooter:hover, .linksFooter:active
{
    background-color: #c70000;
    color: #8fbc72;
}

.linksDireita
{
    position: relative;
    display: inline-block;
    padding: 8px 8px;
    height: 10px;
    text-align: right;
}

.container
{
    display: inline-block;
    width: 80%;
    min-width: 800px;
    min-height: 100%;
    margin: auto;
    position: relative;
}

.botao
{
    margin-top: 10px;
    font-size:20px;
    font-family: 'Montserrat', sans-serif;
    background-color: #8fbc72;
    color: #c70000;
    padding: 16px 32px;
    border: none;
    border-radius: 12px;
    transition-duration: 0.2s;
    cursor: pointer;
}

.botao:hover
{
    background-color: #c70000;
    color: #8fbc72;
}

.botao:focus
{
    outline: 0;
}

.botao:disabled, .botao:disabled:hover
{
    background-color: grey;
    color: #c70000;
    cursor: not-allowed;
}

.rebativel
{
    width: 100%;
    font-size:20px;
    font-family: 'Montserrat', sans-serif;
    background-color: #8fbc72;
    color: #c70000;
    transition-duration: 0.2s;
    border: none;
    padding: 16px 32px;
    margin-top: 10px;
    cursor: pointer;
}

.rebativel:focus
{
    outline: none;
}
.rebativel:hover, .ativo
{
    background-color: #c70000;
    color: #8fbc72;
}

.rebativel:disabled, .rebativel:disabled:hover
{
    background-color: grey;
    color: #c70000;
    cursor: not-allowed;
}

.divRebativel
{
    padding: 0 16px;
    max-height: 0px;
    overflow: hidden;
    background-color: #bcffa6;
    transition: max-height 0.4s ease-out;
}

.inputNumerico
{
    text-align: right;
    width: 100px;
}

.confirmacao
{
    display: inline-block;
    transition-duration: 0.2s;
}

.titulo 
{
    color: #c70000;
    font-weight: bold;
    font-size: 30px;
}

#tabelaJogadores
{
    margin: auto;
    table-layout: fixed;
}

#jogadores
{
    margin-bottom: -15px;
}

#coluna1
{
    width: 45%;
    float: left;
}

#coluna2
{
    width:45%;
    float:right;
}

#footerEsquerda
{
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 5px;
}

#footerDireita
{
    display: inline-block;
    position: absolute;
    right: 5px;
}

#license
{
    position: absolute;
    margin: auto;
    display: none;
    background-color: #8fbc72;
    border: #c70000 2px solid;
    text-align: left;
}