@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body 
{
    background-color: #bfdbae;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    min-width: 800px;
    min-height: 100vh;
}

input
{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
}

footer
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1fr;
}

.container
{
    width: 40%;
    margin: auto
}

.botao
{
    margin-top: 10px;
    font-size:20px;
    font-family: 'Montserrat', sans-serif;
    background-color: #8fbc72;
    color: #c70000;
    padding: 16px 32px;
    border: none;
    border-radius: 12px;
    transition-duration: 0.2s;
    cursor: pointer;
}

.botao:hover
{
    background-color: #c70000;
    color: #8fbc72;
}

.botao:focus
{
    outline: 0;
}

.rebativel
{
    width: 100%;
    font-size:20px;
    font-family: 'Montserrat', sans-serif;
    background-color: #8fbc72;
    color: #c70000;
    transition-duration: 0.2s;
    border: none;
    padding: 16px 32px;
    margin-top: 10px;
}

.rebativel:hover, .ativo
{
    background-color: #c70000;
    color: #8fbc72;
}

.divRebativel
{
    padding: 0 16px;
    max-height: 0px;
    overflow: hidden;
    background-color: #bcffa6;
    transition: max-height 0.4s ease-out;
}

.inputNumerico
{
    text-align: right;
    width: 100px;
}

.confirmacao
{
    display: inline-block;
    transition-duration: 0.2s;
}

.titulo 
{
    color: #c70000;
    font-weight: bold;
    font-size: 30px;
}

#tabelaJogadores
{
    margin: auto;
}

#jogadores
{
    margin-bottom: -15px;
}
