body {
    overflow-x: hidden;
}
a {
    font-size: 40px;
    text-decoration: none;
    outline: 0;
    color:#212529;
    padding: 15px 0;
}
a:hover, a:active {
    font-size: 40px;
    outline: 0;
    text-decoration: none;
    color:#212529;
}
.icones {
    margin-top:20px;
}
.background {
    top: 0;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    display: block;
    position: fixed;
    z-index: -999;
    opacity: 0.5;
}
.container-fluid {
    padding: 5rem 0;
}
.portrait {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid black 5px;
    box-shadow: inset 0 0 50px black;
    margin-bottom: 20px;
}
.glow {
    font-size: 3em;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
#botaoModal {
    cursor: pointer;
}
#modal0 a {
    font-size: 1rem;
    padding: 0;
    text-decoration: underline;
}
