@tailwind base;
@tailwind components;
@tailwind utilities;

$pineTree: #2D2727;
$onyx: #413543;
$lavanderIndigo: #8F43EE;
$khaki: #F0EB8D;
$lightSilver: #D2D8D8;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $pineTree;
  color: $lightSilver;
  font-size: 30px;
}